@charset "utf-8";
/* CSS Document */
body,html{
	height:100%;
	width:100%;
	background-color:#FF7E00;
}
.inputs{
	margin-top:15px;
	background-color:transparent;
	border-color:transparent;
	border-bottom-left-radius:10px;
	border-bottom-color:rgba(26,251,0,1.00);
	color:rgba(249,249,249,1.00);
	}
.rows{
	font-family:Forte;
	font-size:18px;
	}
#btn1,#btn2{
	font-family:Matura MT Script Capitals;
	font-size:24px;
	text-align:center;
	color:rgba(255,255,255,1.00);
	}
	